body, h1, h2, h3, h4, h5, h6, p, span, a, div {
    color: rgb(240, 159, 8);
}

h1.display-5.fw-bold.text-body-emphasis {
    color: rgb(240, 159, 8) !important;
}

.gradient-background {
    background: url('./LOGO\ 3S\ COLOR.jpg') no-repeat center center fixed;
    background-size: cover;
}

.btn-outline-warning {
    border-color: rgb(240, 159, 8) !important;
    color: rgb(240, 159, 8) !important;
}